.lijst p{
  display: inline-block;
}

p{
  text-align: center;
}

.naam{
  float: left;
  width: 30%;
}

.email{
  float: left;
  width: 30%;
}

.tel{
  float: left;
  width: 30%;
}

.lijst{
  padding-top: 1%;
}
.naam{
  text-decoration: none;
  color: #F44336;
}
a{
  text-decoration: none;
  color: #000;
}
.lijstitem{
  width: 85%;
  margin-right: 0;
  float: left;
}


