@import '~@angular/material/theming';

@include mat-core();
$mijn-thema-primary: mat-palette($mat-yellow);
$mijn-thema-accent:  mat-palette($mat-red);


$mijn-thema-warn:    mat-palette($mat-red);

$mijn-thema-theme: mat-light-theme($mijn-thema-primary, $mijn-thema-accent, $mijn-thema-warn);

@include angular-material-theme($mijn-thema-theme);
