/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
}
*{
  font-family: "Work Sans", sans-serif;
}
.mat-tab-label{
  font-size: 1.25em;
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.lijst{
  width: 70%;
  margin: 0 auto;
}
.naam{
  text-decoration: none;
  color: #F44336;
}
a:hover > p{
  background: #F44336;
  color: white !important;
}
a{
  text-decoration: none;
  color: #000;
}
.tijd, .registratie{
  color: #000;
}


