<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent"></mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Alle logs">
  <app-alle-logs></app-alle-logs>
  </mat-tab>
  <mat-tab label="Lasercutter">
  <app-lasercutter-logs></app-lasercutter-logs>
  </mat-tab>
  <mat-tab label="Kolomboor">
  <app-kolomboor-logs></app-kolomboor-logs>
  </mat-tab>
  <mat-tab label="3D Printer">
  <app-printer-logs></app-printer-logs>
  </mat-tab>
</mat-tab-group>
