<div class="container">

<h1>Statistieken</h1>

  <div class="statistiekelement">
    <span class="circle"><p class="statistiekcijfer">{{alleLogs.length}}</p></span>
    <p>Alle Logs</p>
  </div>

  <div class="statistiekelement">
    <span class="circle"><p class="statistiekcijfer">{{inkomLogs.length}}</p></span>
    <p>Inkom Logs</p>
  </div>

  <div class="statistiekelement">
    <span class="circle"><p class="statistiekcijfer">{{lasercutterLogs.length}}</p></span>
    <p>Lasercutter</p>
  </div>

  <div class="statistiekelement">
    <span class="circle"><p class="statistiekcijfer">{{printerLogs.length}}</p></span>
    <p>3D printer</p>
  </div>

  <div class="statistiekelement">
    <span class="circle"><p class="statistiekcijfer">{{kolomboorLogs.length}}</p></span>
    <p>Kolomboor</p>
  </div>
</div>


