<mat-toolbar color="accent">
  <a class="header-logo"><img class="logo" src="assets/Images/Medialablogo-combi.svg" alt="Logo Medialab.brussels"></a>
  <span class="spacer"></span>
  <span class="spacer"></span>
    <button mat-button class="nav" value="Logs">Logs</button>
    <span class="spacer"></span>
    <button mat-button class="nav" value="Personen">Personen</button>
    <span class="spacer"></span>
    <button mat-button class="nav" value="Certificaten">Certificaten</button>
  <span class="spacer"></span>
  <span class="spacer"></span>

</mat-toolbar>

